# Python
__pycache__/
*.pyc
*.pyo
*.pyd
backend/venv/

# Environment variables
.env
.env.*
!.env.example
backend/.env
frontend/.env

# Node
frontend/node_modules/

# Build files
frontend/dist/
frontend/.next/
frontend/out/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test files
test/